<!-- templates/destinations/preference_form.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white h5">Tell Us Your Preferences</div>
                <div class="card-body">
                    <form method="post" action="{% url 'destinations:get_recommendations' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Get Recommendations</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}